<div id="about-me" class="gradient">
  <div><img src="../../../assets/image/mana.png"></div>
  <div>
    <h2 class="elementor_title_large">Vladimir&nbsp;Vystavkin<span class="elementor_title_color"> Frontend&nbsp;developer</span>
    </h2>
    <p class="elementor_text_big">Efficient and have a strong desire to develop in the field of web-application
      development.
      Able to develop rapid in the IT field due to my purpose dedication, because I like it.
      I am motivated to study, learn more and improve my skills.</p>
  </div>
</div>
<div id="hard-skills">
  <app-shape-triangle position="bottom"></app-shape-triangle>
  <h3 class="elementor_title_big elementor_title_color">Hard skills:</h3>
  <ul>
    <h2 class="elementor_title_big">Front end:</h2>
    <li>
      <app-hard-skill [group]="'Program language'" [name]="'Java Script ES5+'"
                      [description]="'Strong Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Program language'" [name]="'TypeScript 3.0+'" [description]="'Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Markup language'" [name]="'HTML 4.01+'"
                      [description]="'Strong Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Style sheet'" [name]="'CSS 4 and Preprocessor'"
                      [description]="'Strong Junior ( SCSS , SASS )'"></app-hard-skill>
      <app-hard-skill [group]="'Framework'" [name]="'Angular 8+'" [description]="'Strong Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Framework'" [name]="'NGRX'" [description]="'Junior'"></app-hard-skill>
    </li>
    <h2 class="elementor_title_big">Back end:</h2>
    <li>
      <app-hard-skill [group]="'Program language'" [name]="'Java SE8+'"
                      [description]="'Strong junior'"></app-hard-skill>
      <app-hard-skill [group]="'Framework'" [name]="'Spring : Boot , Security , Data'"
                      [description]="'Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Framework'" [name]="'Hibernate'" [description]="'Junior'"></app-hard-skill>
      <app-hard-skill [group]="'Database'" [name]="'MySQL'"
                      [description]="'Strong junior'"></app-hard-skill>
      <app-hard-skill [group]="'Database'" [name]="'MongoDB'"
                      [description]="'Strong junior'"></app-hard-skill>
    </li>
    <h2 class="elementor_title_big">Skills:</h2>
    <li>
      <app-hard-skill [group]="'Distributed version control system'" [name]="'GIT and GIT HUB'"></app-hard-skill>
      <app-hard-skill [group]="'Programming Model'" [name]="'OOP'" [description]="'Middle'"></app-hard-skill>
      <app-hard-skill [group]="'Typing speed'" [name]="'is 50 wpm'" [description]="'Very fast type'"></app-hard-skill>
    </li>
    <h2 class="elementor_title_big">Knowledge language:</h2>
    <li>
      <app-hard-skill [group]="'Language'" [name]="'English'" [description]="'B1'"></app-hard-skill>
      <app-hard-skill [group]="'Language'" [name]="'Dutch'" [description]="'A1'"></app-hard-skill>
      <app-hard-skill [group]="'Language'" [name]="'Ukraine'" [description]="'Proficiency'"></app-hard-skill>
      <app-hard-skill [group]="'Language'" [name]="'Russian'" [description]="'Native'"></app-hard-skill>
    </li>
  </ul>
</div>

<div id="summary-qualifications"class="gradient" >
  <app-shape-triangle position="top"></app-shape-triangle>
  <h2 class="elementor_title_big elementor_title_color">Summary of qualifications:</h2>
  <section>
    <app-hard-skill [group]="'Build web page'" [name]="'build a web page from a layout with the use of stack technologies: JavaScript, jQuery, HTML5, CSS'" [description]="''"></app-hard-skill>
    <app-hard-skill [group]="'Build adaptive layout'" [name]="'with the use of Grid layout, Flex-box'" [description]="''"></app-hard-skill>
    <app-hard-skill [group]="'Create SPA'" [name]="'Create single-page applications with the use of stack technologies: Angular, HTML5, CSS preprocessor SASS, Bootstrap, NGRX'" [description]="''"></app-hard-skill>
    <app-hard-skill [group]="'Work with the relation database'" [name]="'create of sql queries , build structure database'" [description]="''"></app-hard-skill>
    <app-hard-skill [group]="'Create REST API server '" [name]="'Java , Spring , Hibernate'" [description]="''"></app-hard-skill>
    <app-hard-skill [group]="'Work in a team 3 - 6 person'" [name]="'Methodology: Kanban, Agile'" [description]="''"></app-hard-skill>
  </section>
</div>
<div style="height: 400px">
  <app-shape-triangle position="top" [topFlip]="true"></app-shape-triangle>
</div>
<div class="gradient" style="height: 400px">
</div>



