
<div class="shopping-list">

  <table class="shopping-table">

    <thead>
    <tr>
      <th class="product_remove"></th>
      <th class="product_thumbnail"></th>
      <th class="product_name">Название</th>
      <th class="product_price">Цена</th>
      <th class="product_quantity">Количество</th>
      <th class="product-subtotal">Всего</th>
    </tr>
    </thead>
    <tbody>
      <tr  >
        <td class="product_remove"><img src="assets/image/close.svg"></td>
        <td class="product_thumbnail"><img src="assets/image/placeholder-product.png"></td>
        <td class="product_name"></td>
        <td class="product_price"></td>
        <td class="product_quantity"></td>
        <td class="product-subtotal"></td>
      </tr>
    </tbody>
  </table>
  <div class="cart-collaterals">
    <h2>Общая сумма</h2>
    <div class="cart-collaterals_subtotal"><span>Промежуточный итог</span><span>1234</span></div>
    <div class="cart-collaterals_subtotal"><span>Всего</span><span>1324</span></div>
    <a>Купить</a>
  </div>
</div>

