<div class="product">
  <button class="product-button" id="wish-button"><img id="heart" src="assets/image/heart.svg"></button>
  <div class="title_picture">
    <img style="width: 100%" src="assets/image/placeholder-product.png">
  </div>

  <span class="title">Соединетельный комплект самсунг</span>
  <div class="title_price">
    <span>1899$</span>
    <button class="product-button"><img id="cart" src="assets/icon/toolbar/cart.svg"></button>

  </div>
  <span class="title_good">есть в наличии</span>
</div>
