<div class="card ">
  <div cdata-id="48234bea" data-element_type="widget" data-widget_type="image.default">
    <div data-id="7dc6c049" data-element_type="widget" data-widget_type="heading.default">
      <div>
        <h1>Privacy Policy</h1></div>
    </div>
    <div data-id="5973dcf" data-element_type="widget" data-widget_type="text-editor.default">
      <div>
        <div>
          Pursuant to art. 13 of EU Regulation 2016/679 (hereinafter "GDPR"), Epic Education Srl, with registered
            office in Viale Beata Vergine del Carmelo 22, 00144 Rome as&nbsp; <strong>Data Controllers</strong> ,
            informs you that your data will be processed in compliance with the principles of correctness, lawfulness
            and transparency and in compliance with fundamental rights and freedoms and your dignity, as well as the
            rules on professional and official secrecy.<br><br>
            <h2>Nature of the data processed</h2>
            The data is collected directly by Epic Education Srl from public sources (if relating to the Student) and
            through the voluntary compilation of the registration / enrollment form. By registering, the User agrees to
            provide their data for the execution of the services provided and / or for the purchase of products sold on
            this Site. The personal data collected are: Name, Surname, Date of Birth, Telephone Number , Address of
            residence or practice of the profession, Username, Email, Password, Company name, Fiscal Code, VAT number
            and Profession, the IP address and other data relating to the User's personal details or to the technical
            methods of accessing the User to the Site. Other data collected to complete the profile of each user (called
            "Student") concern their professionalism and include, by way of example: educational qualification, age,
            years of work experience and curricular information. The navigation data useful for the technical use of the
            Site are necessarily collected and their provision is not optional. Failure to process some data (eg contact
            details, or addresses, or data on user behavior or preferences, etc.) could make it impossible for the Site
            to provide services. If the User uses the Site to publish or otherwise share personal data of third parties,
            (Interested parties other than the User) assumes the relative responsibilities. In this sense, the User
            guarantees to have the right to communicate or disseminate the personal data of third parties and to have
            previously informed them of the processing,<br><br>
            <h2>Purpose of the treatment</h2>
            The Data of the User or the Interested Party is collected to allow:
            <ul>
              <li>the provision of the service;</li>
              <li>the response to specific information requests from the User;</li>
              <li>updating the User on new products or services provided by the Site or in relation to particular
                commercial offers;
              </li>
              <li>User information on the occasion of maintenance on the Site or of any disservices;</li>
              <li>any commercial profiling of the User;</li>
              <li>the display of advertising banners in relation to the User's interests (behavioral targeting /
                advertising);
              </li>
              <li>the defense by the Site Owner, in court or in the stages leading to its eventual establishment, from
                abuses in the use of the Site or related services by the User.
              </li>
            </ul>
            <br>
            <h2>Legal basis and consent</h2>
            Your personal data may be processed by the Data Controller if one of the following conditions exists:
            <ul>
              <li>consent has been given for one or more specific purposes pursuant to art. 6 lett. a) of the GDPR (for
                example in the case of sending promotional communications, commercial profiling, behavioral advertising,
                geolocation, etc.);
              </li>
              <li>the processing is necessary for the execution of a contract with the User and / or for the execution
                of pre-contractual measures pursuant to art. 6 lett. b) of the GDPR;
              </li>
              <li>the processing is necessary to fulfill a legal obligation to which the Data Controller is subject
                pursuant to art. 6 lett. c) of the GDPR;
              </li>
              <li>the processing is necessary for the pursuit of the legitimate interest of the Data Controller or third
                parties.
              </li>
            </ul>
            However, it is always possible to ask the Data Controller to clarify the concrete legal basis of each
            treatment and in particular to specify whether the treatment is based on the law, provided for by a contract
            or necessary to conclude a contract.
            <br><br>
            <h2>Methods of data processing</h2>
            The personal data provided are processed through electronic and / or paper means, according to the
            principles of correctness, lawfulness, transparency and protection of confidentiality and rights. In
            addition, other methods (audio, video, etc.) deemed useful on a case-by-case basis can be used. The data are
            also protected by technical and organizational measures to ensure suitable levels of security and
            confidentiality pursuant to art. 25 and 32 of the GDPR.
            <br><br>
            <h2>Dissemination, communication of data and recipients</h2>
            Personal data are not subject to disclosure (meaning by this, the disclosure of personal data to
            indeterminate subjects, in any form, including by making them available or consulting), except in the case
            in which disclosure is required, in accordance with the law, by police forces, by judicial authorities, by
            information and security bodies or by other public entities for defense or state security purposes or for
            the prevention, detection or prevention of crimes. Personal data may instead be used, for the purposes set
            out above or for further purposes, by third parties, indicated below, who provide services that allow the
            Site to manage and monitor lists of email addresses used to communicate with the User via email:
            <ul>
              <li>Direct Email Marketing (DEM): questo Sito può utilizzare i Dati dell’Utente, se dallo stesso
                previamente autorizzato, per inviare proposte di natura commerciale in relazione a servizi e prodotti
                forniti da terze parti. In caso di promozione di prodotti o servizi del titolare analoghi a quelli
                venduti all’interessato non è necessario il consenso, ma l’interessato, può opporsi in ogni momento a
                nuovi invii. I dati personali raccolti sono: Email, Cookie, Indirizzo IP, Nome e Cognome.
              </li>
              <li>Soggetti che forniscono servizi di pubblicità consentendo al Sito di utilizzare i Dati dell’Utente per
                finalità di comunicazione commerciale visualizzate sotto forma di banner e altre forme pubblicitarie sul
                Sito in relazione agli interessi dell’Utente;
              </li>
              <li>Soggetti che forniscono servizi di statistica che tengono traccia del comportamento dell’Utente ed, in
                caso di profilazione, possono richiedere il consenso espresso dell’Utente (Google Analytics, Social
                Plugin, Google + …).
              </li>
            </ul>
            <br>
            <h2>Link ad altri Siti Web</h2>
            On the web pages of epicode.it you can find hyperlinks with other websites, proposed to provide a better
            service to its users. Epicode.it is in no way responsible for the content of websites that users may access
            through its site. The existence of a Hyperlink to another site does not therefore imply approval or
            acceptance of responsibility by epicode.it regarding the content of the new site accessed, also in relation
            to the policy adopted for the processing of personal data, as well as its utilization.
            <br><br>
            <h2>Definitions and legal references</h2>
            <strong>Cookies</strong>- The cookie is a piece of data that is stored on a computer or mobile device when
            you browse the internet, so that the computer or mobile device can be recognized at a later time. The
            cookies we use do not profile you, do not identify you, but only recognize the device you use. Cookies do
            not damage your device in any way, but enable many important features of the Website. They allow you, for
            example, to return to the pages you searched for; protect epicode.it; remember your preferences; customize
            the content of the Site so that it is more suitable for you. We also use cookies to collect information on
            how you use the Site. We use this information exclusively to compile reports and as an aid to improve the
            Site. The collection takes place anonymously and concerns information such as the number of visitors to the
            Site, where the visitors come from, the pages visited. A cookie in no way gives us access to your computer
            and does not provide us with any information about you, other than the data you decide to share with us. You
            are free to choose whether or not to accept cookies. Most browsers automatically accept cookies. It is
            possible to change the settings of your browser in order to refuse cookies, if you prefer. To this end, we
            invite you to consult the following pages: the pages visited. A cookie in no way gives us access to your
            computer and does not provide us with any information about you, other than the data you decide to share
            with us. You are free to choose whether or not to accept cookies. Most browsers automatically accept
            cookies. It is possible to change the settings of your browser in order to refuse cookies, if you prefer. To
            this end, we invite you to consult the following pages: the pages visited. A cookie in no way gives us
            access to your computer and does not provide us with any information about you, other than the data you
            decide to share with us. You are free to choose whether or not to accept cookies. Most browsers
            automatically accept cookies. It is possible to change the settings of your browser in order to refuse
            cookies, if you prefer. To this end, we invite you to consult the following pages: if you prefer. To this
            end, we invite you to consult the following pages: if you prefer. To this end, we invite you to consult the
            following pages:
            <ul>
              <li>Chrome: <a href="https://support.google.com/chrome" target="_blank" rel="noopener">Link</a></li>
              <li>Firefox: <a href="https://support.mozilla.org/en-US/" target="_blank" rel="noopener">Link</a></li>
              <li>Internet Explorer: <a href="https://www.microsoft.com/en-us/windows" target="_blank" rel="noopener">Link</a>
              </li>
              <li>Opera: <a href="https://help.opera.com/en/latest/" target="_blank" rel="noopener">Link</a></li>
              <li>Safari:&nbsp; <a href="https://support.apple.com/" target="_blank" rel="noopener">Link</a></li>
            </ul>
            If you decide not to enable cookies, your experience on epicode.it may be limited.
            <br><br>
            <h2>Transfer of personal data outside the EU</h2>
            With regard to any future transfer of data to third countries, the Data Controller informs that any
            processing will take place in compliance with the law, or according to one of the methods permitted by
            current law, such as for example:
            <ul>
              <li>Transfer to countries that offer adequate protection guarantees;</li>
              <li>Adoption of standard contractual clauses approved by the European Commission;</li>
              <li>Adoption of binding regulations authorized by the Guarantor Authority;</li>
              <li>Selection of subjects adhering to international programs for the free circulation of data (eg
                EU-USA)
              </li>
            </ul>
            In the event that, for specific treatments, the data should in the future be transferred to international
            organizations or to subjects located in countries not belonging to the European Union, the Data Controller
            will in any case provide specific information in this regard.
            <br><br>
            <h2>Data retention</h2>
            Your data are processed until your request for cancellation and are kept for a time not exceeding that
            strictly necessary to pursue the purposes for which they were collected, in compliance with the minimization
            principle pursuant to art. 5, paragraph 1, letter c) of the GDPR, as well as the legal obligations to which
            the Data Controller is required.
            <br><br>
            <h2>Rights of the interested party</h2>
            You can contact the Data Controller to exercise the rights provided for in Chapter III of the GDPR. You have
            the right to obtain from the Data Controller, without delay:
            <ul>
              <li>confirmation as to whether or not your personal data is being processed and, in this case, to obtain
                access to it (right of access, pursuant to Article 15 of the GDPR);
              </li>
              <li>the rectification of your inaccurate personal data, or the integration of incomplete personal data
                (right of rectification, pursuant to Article 16 of the GDPR);
              </li>
              <li>the cancellation of your data, if one of the reasons provided for by the Regulation exists (right to
                cancellation, pursuant to Article 17 of the GDPR);
              </li>
              <li>the limitation of the processing of your data when one of the hypotheses provided for by the
                Regulation occurs (right of limitation, pursuant to Article 18 of the GDPR);
              </li>
              <li>the transmission of personal data concerning him to another Data Controller without impediments by the
                Data Controller to whom he provided them (right to data portability, pursuant to Article 20 of the
                GDPR).
              </li>
            </ul>
            You also have the right to exercise the following rights towards the Data Controller:
            <ul>
              <li>the right to object at any time to the processing of personal data concerning him if the processing is
                based on the legitimate interest of the Data Controller, or on reasons of public interest, if the
                protection of his individual freedoms is to be considered prevailing over said legitimate interests and
                / or public (right of opposition pursuant to Article 21 of the GDPR);
              </li>
              <li>The right to lodge a complaint with the Privacy Guarantor or to appeal to the judicial authority.</li>
              <li>the right to obtain the complete and updated list of all persons responsible and authorized to process
                your personal data.
              </li>
            </ul>
            To exercise your rights listed above, you can send a request to the e-mail address&nbsp; <a
              href="mailto:info@epicode.school">info@epicode.school</a>
        </div>
      </div>
    </div>
  </div>
